main {
  margin-top: 40px;
}

.body-bg {
  height: auto;
  overflow: auto;
  padding-bottom: 30px;
}

.reg-bg {
  background-color: rgba(255, 255, 255, .9);
  padding: 30px;
  margin-top: 50px;
}

footer.page-footer {
  margin-top: 0px;
}

.btn-large {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.36), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: #2E5F97;
}

.btn-large:hover {
  background-color: #fff;
  color: grey;
}
