main {
  margin-top: 40px;
}

.body-bg {
  height: auto;
  overflow: auto;
  padding-bottom: 30px;
}

.reg-bg {
  background-color: rgba(255, 255, 255, .9);
  padding: 30px;
  margin-top: 50px;
}

footer.page-footer {
  margin-top: 0px;
}

.btn-large {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.36), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: #2E5F97;
}

.btn-large:hover {
  background-color: #fff;
  color: grey;
}

.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #2E5F97;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
textarea.materialize-textarea:focus:not([readonly])
 {
  border-bottom: 1px solid #2E5F97;
  box-shadow: 0 1px 0 0 #2E5F97;
}

.input-field input[type=text].valid {
  border-bottom: 1px solid #2E5F97;
  box-shadow: 0 1px 0 0 #2E5F97;
}

.dropdown-content ul>li, .dropdown-content li>span {
  color: #2E5F97;
}
