main {
  margin-top: 40px;
}

.body-bg {
  height: auto;
  overflow: auto;
  padding-bottom: 30px;
}

.reg-bg {
  background-color: rgba(255, 255, 255, .9);
  padding: 30px;
  margin-top: 50px;
}

footer.page-footer {
  margin-top: 0px;
}
