*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*-----------NAV ONLY-----------*/

.nav-top {
  height: 36px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.0);
}

.nav-top p {
  margin: 0;
  color: black;
  padding-top: 10px;
  /*padding-left: 35px;*/
}

.nav-top .container {
  height: 36px;
}

.blue-bg {
  height: 72px;
  width: 100%;
  background-color: rgba(0,60,128,0.82);
}

.blue-bg p {
  margin: 0;
}

.blue-bg img {
  margin-top: 10px;
  padding-left: 0px;
}

.blue-bg a {
  height: 72px;
  border-right: 1px solid #91050A;
  padding-top: 5px;
}

.blue-bg .search-icon a {
  margin-top: -10px;
}

.blue-bg img {
  margin-top: 6px;
  padding-top: 0px;
}

.blue-bg li {
  height: 72px;
}

nav {
  background: url("../images/Government-Seal-Embossed1.jpg");
  background-repeat: repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 50%, 10%;
  height: 108px;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav p {
  line-height: normal;
}

nav ul a {
  padding: 0 25px;
}

nav ul .img a {
  padding-left: 0px;
}

.search-nav {
  width: 400px;
}

.search-nav .float-right {
  float: right;
  margin-top: 10px;
}

.search-input {
  color: #FFF;
  width: 250px;
}

.search-nav .search-input {
  float: right;
}

/*-----------END NAV -----------*/

body {
  overflow: auto;
  background-color: rgba(0,0,0,0);
}

.body-bg {
  display: block;
  /*height: 800px;*/
  height: 1000px;
  background: url(../images/Lincoln-Memorial-in-DC.jpg)    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: none;
}

.btn, .btn-large, .btn-flat {
  margin: 55px 0 0 410px;
}

.details {
  margin-top: 5px;
  margin-left: 20px;
  margin-top: 25px;
}

.details p {
  line-height: 5px;
}

div .container {
  height: 72px;
}

footer.page-footer {
  background-color: rgba(0,60,128,0.82);
  margin-top: 0px;
}

.inline-b {
  display: inline-block;
}

.input {
  background-color: #FFF;
}

.login {
  color: rgb(0,60,208);
  float: right;
}

.row .col {
  margin: 0;
  padding: 0;
}

.row, .container {
  background-color: rgba(0,0,0,0);
}

.politician-container {
background-color: transparent;
margin-top: 43px;
position: absolute;
}

.politician {
  background-color: rgba(255, 255, 255, .7);
  height: 150px;
  width: 100%;
  margin-top: 40px;
  border-radius: 3px;
  margin-top: 20px;
}

.politician-img img {
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 25px;
}

li {
  display: inline-block;
  float: left;
}

li .btn {
  float: right;
}

.tagline {
  font-style: italic;
  font-size: 13px;
}
